<div class="container-home">
	<div class="header">
		<div class="header-logo"><img src="/images/logo.jpeg">
		 <a class="logo" href="#">FWS<span>Festival Welfare Services</span></a>
		</div>
		<ul class="social">
			<li class="tw"><a target="_blank" href="https://www.facebook.com/festivalwelfare"></a></li>
			<li class="dvidr">|</li>
			<li class="fb"><a target="_blank" href="https://twitter.com/festivalwelfare"></a></li>
		</ul>
	</div>
	
	<div class="clear"></div>
	<div class="coming_soon">
		<p>Contact us on <strong>Facebook</strong> or <strong>Twitter</strong> or <a href="mailto:admin@festivalwelfareservices.co.uk">Email</a></p>
	</div>
</div>

